@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

/* Container Flex */
.container {
    display: flex;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

/* Menu - Div Fixe */
.menu {
    width: 25%; /* 1/4 de la largeur */
    height: 100%; /* Occupe toute la hauteur de la fenêtre */
    position: fixed; /* La div1 est fixe */
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    z-index: 10;
}
nav {
    padding-top: 5%;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ecf0f1;
}

.product-grid {
    margin-left: 25%; /* La div2 commence après la div1 */
    padding: 20px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; 
    justify-content: center;
    max-width: 75%;
    height: 100vh;
    align-items: start;
}

.product-card {
    background-color: black;
    border: 1px solid #ccc;
    width: 100%;  /* Assurer que la carte prend toute la largeur de la cellule */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s ease;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    max-height: 250px;  /* Augmenter la hauteur de l'image */
    object-fit: contain;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.product-price {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.product-link {
    background-color: #6400da;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    align-self: center;
}

.product-link:hover {
    background-color: #4a00a6;
}

/* Cacher la scrollbar partout */
* {
  scrollbar-width: none; /* Firefox : Cache la scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ : Cache la scrollbar */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge : Cache la scrollbar */
}
