@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

/* Container Flex */
.container {
    display: flex;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

/* Menu - Div Fixe */
.menu {
    width: 25%; /* 1/4 de la largeur */
    height: 100%; /* Occupe toute la hauteur de la fenêtre */
    position: fixed; /* La div1 est fixe */
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    z-index: 10;
}
nav {
    padding-top: 5%;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ecf0f1;
}

/* Grid des Produits */
.product-grid {
    margin-left: 25%; /* La div2 commence après la div1 */
    padding: 20px;
    overflow-y: scroll; /* Permet le scroll vertical */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur chaque ligne */
    gap: 20px; 
    justify-content: center; 
    max-width: 75%;
    height: 100vh;
}

/* Carte Produit */
.product-card {
  background-color: black;
  border: 1px solid #ccc;
  width: 100%;  
  max-height: 400px; /* Limite la hauteur des cartes */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease;
  overflow: hidden; /* Cache le débordement */
}


.product-card img {
    width: 100%;  
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.product-name {
    font-weight: bold;
    margin: 12px 0 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-price {
    color: white;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-link {
    display: inline-block;
    background-color: #6400da;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.product-link:hover {
    background-color: #4a00a6;
}

/* Cacher la scrollbar partout */
* {
  scrollbar-width: none; /* Firefox : Cache la scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ : Cache la scrollbar */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge : Cache la scrollbar */
}
